---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import AboutMe from "../components/AboutMe.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Porfolio de davidvillard - Desarrollador FullStack - Galicia, España"
  description="Contrata a davidvillard."
>
  <main class="px-16">
    <SectionContainer class="pb-32 py-44 flex flex-col items-center" id="top">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <Projects />
    </SectionContainer>

    <SectionContainer id="skills">
      <Skills />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <AboutMe />
    </SectionContainer>

  </main>
</Layout>
