---
import Badge from "./Badge.astro";
---

<div class="flex flex-col items-center justify-center gap-16 sm:gap-16 md:gap-8 md:flex-row mt-20 sm:mt-20 md:mt-12">

    <!-- Imagen -->
    <img width="200" height="200" src="/profile-pic.JPG" alt="David Villar" class="order-1 object-cover w-64 h-full  md:order-2 rotate-3  lg:w-64 rounded-full  shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(234,179,8,0.15)]" >

    <!-- Texto -->
    <div class="mt-[-4px] flex flex-col gap-2 order-2 sm:order-1">
        <p class="text-base text-gray-400">
            <p class="mb-3 text-pretty tracking-wider">
                Hola! Me llamo David.
                Empecé en el mundo de la programación hace unos años gracias a
                mi profesor de TIC en la secundaria, tenía 17 años. Actualmente
                estoy <span class="dark:text-yellow-200/90 text-yellow-500/90">estudiando un ciclo superior de Desarrollo de
                Aplicaciones Web</span> en el IES Teis de Vigo, concretamente
                realizando las prácticas (FCT).
            </p>

            <p class="mb-3 text-pretty">
                Fuera del trabajo, tengo varios hobbies que me apasionan. La moda es una de mis grandes pasiones; me encanta
                estar al tanto de las tendencias. Por último, la lectura me acompaña
                en cualquier momento del día, especialmente cuando se trata de filósofos
                o de autores como Charles Bukowski.
            </p>

            <p class="text-pretty">
                Uno de mis principales objetivos es <span class="dark:text-yellow-200/90 text-yellow-500/90">trabajar en el ámbito de la ciberseguridad</span>, un campo que me
                apasiona y en el que me gustaría especializarme. Sin embargo, mi
                curiosidad me lleva a explorar cualquier aspecto de la tecnología;
                me encanta <span class="dark:text-yellow-200/90 text-yellow-500/90">aprender cosas nuevas y adquirir más conocimiento</span>.
            </p>
        </p>
    </div>
</div>

