---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = {
  title: "Experience",
  items: [
    {
      date: "Actualmente...",
      title: "Desenvolvimiento de Aplicaciones Web",
      description: [
        "En la actualidad me encuentro cursando el ciclo formativo de grado superior de Desarrollo de Aplicaciones Web en el IES De Teis, Vigo.",

        "En este ciclo formativo he aprendido a desarrollar aplicaciones web, tanto en el lado del cliente como en el servidor, utilizando tecnologías como HTML, CSS, JavaScript, PHP, MySQL, Java, Docker, Vue, Bootstrap etc. En el proyecto de fin de curso amplié mis habilidades al trabajar con tecnologias como React, utilizando Vite como bundler, React Router para la navegación y Tailwind junto con otras dependencias esenciales. Por otro lado, he aprendido a utilizar herramientas de control de versiones como Git.",

        "También he desarrollado competencias en el uso de sistemas operativos, particularmente en Ubuntu. Esta habilidad no solo amplía mis conocimientos técnicos, sino que también demuestra mi versatilidad en entornos tecnológicos diversos.",

        "Además del desarrollo de aplicaciones, nos hemos introducido en el montaje de hardware y gestión de sistemas informáticos, especialmente con Ubuntu. Esta perspectiva amplía mi comprensión tecnológica, preparándome para abordar proyectos desde diversas perspectivas.",
      ],
      link: "https://www.github.com/davidvillard",
    },
  ],
};
---

<ol class="relative ml-[-39px]">
  {
    EXPERIENCE.items.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} description={Array.isArray(experience.description) ? experience.description : [experience.description]} />
      </li>
    ))
  }
</ol>
