---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = {
  title: "Experience",
  items: [
    {
      date: "| ene. 2025 - Actualmente...",
      title: "Desarrollador Fullstack en Gyleven",
      description: [
        "• Desarrollo de aplicaciones web completas utilizando React y Next.js, integrando consumo de APIs RESTful, autenticación de usuarios y paneles de administración para gestión de contenidos y eventos.",
        "• Implementé mapas interactivos con geolocalización, mejorando la navegación de eventos y facilitando que los usuarios encontraran ubicaciones de forma intuitiva",
        "• Optimicé el SEO y rendimiento web, asegurando tiempos de carga rápidos y mejor posicionamiento en buscadores",
        "• Transformé diseños de Figma en componentes React reutilizables, agilizando el desarrollo de nuevas funcionalidades",
        "• Mantuve coherencia entre WordPress/WooCommerce y la aplicación principal, garantizando una experiencia de usuario consistente",
      ],
      link: "https://www.linkedin.com/in/davidvillard",
    },
    {
      date: "| sept. 2024 - Dic. 2024",
      title: "Prácticas en Gyleven",
      description: [
        "• Desarrollé una API REST en Django que automatizó la verificación de contactos, integrando múltiples servicios externos y reduciendo validaciones manuales.",
        "• Cree una web en Wordpress partiendo de un mockup realizado en Figma con una base sólida en UX/UI",
        "• Apliqué una formación constante y aprendizaje proactivo, aprendiendo de todo lo posible",
      ],
      link: "https://www.linkedin.com/in/davidvillard",
    },
    // {
    //   date: "| sept. 2022 - sept. 2024",
    //   title: "Desenvolvimiento de Aplicaciones Web",
    //   description: [
    //     "En este ciclo formativo he aprendido a desarrollar aplicaciones web, tanto en el lado del cliente como en el servidor, utilizando tecnologías como HTML, CSS, JavaScript, PHP, MySQL, Java, Docker, Vue, Tailwind, etc. En el proyecto de fin de curso amplié mis habilidades al trabajar con tecnologías como React, utilizando Vite como bundler, React Router para la navegación y Tailwind junto con otras dependencias esenciales. Por otro lado, he aprendido a utilizar herramientas de control de versiones como Git.",
    //     "También he desarrollado competencias en el uso de sistemas operativos, particularmente en Ubuntu. Esta habilidad no solo amplía mis conocimientos técnicos, sino que también demuestra mi versatilidad en entornos tecnológicos diversos.",
    //     "Además del desarrollo de aplicaciones, me he introducido en el montaje de hardware y gestión de sistemas informáticos, especialmente con Ubuntu.",
    //   ],
    //   link: "https://www.linkedin.com/in/davidvillard",
    // },
  ],
};
---

<ol class="relative ml-[-39px]">
  {EXPERIENCE.items.map((experience) => (
    <li class="ms-4">
      <ExperienceItem
        title={experience.title}
        description={experience.description}
        link={experience.link}
        date={experience.date}
      />
    </li>
  ))}
</ol>
