---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = {
  title: "Experience",
  items: [
    {
      date: "| ene. 2025 - Actualmente...",
      title: "Desarrollador Fullstack en Gyleven",
      description: [
        "Actualmente estoy trabajando en Gyleven con un contrato de formación, donde estoy ampliando mis conocimientos en WordPress, especialmente en el diseño y maquetación de páginas web. Paralelamente, también desarrollo proyectos con Python y Django, lo que me permite reforzar mis habilidades en backend.",
        "Además, estoy adquiriendo experiencia en React y Next.js, participando en proyectos que incluyen funcionalidades avanzadas como mapas interactivos, filtrado de eventos, geolocalización en tiempo real, sistemas de búsqueda, gestión de usuarios y módulos de comunicación.",
        "Por otro lado, utilizo herramientas de diseño como Figma para crear prototipos y maquetar interfaces antes de llevarlas a producción.",
      ],
      link: "https://www.linkedin.com/in/davidvillard",
    },
    {
      date: "| sept. 2024 - Dic. 2024",
      title: "Prácticas Gyleven",
      description: [
        "Durante mis prácticas en Gyleven participé en el diseño y maquetación de páginas web responsive con WordPress y WPBakery, y aprendí a crear prototipos en Figma. También colaboré en el desarrollo de una API con Django Rest Framework para validar datos e integrar servicios externos. Además, utilicé phpMyAdmin y pgAdmin para gestionar bases de datos y adquirí experiencia resolviendo problemas técnicos de forma autónoma.",
      ],
      link: "https://www.linkedin.com/in/davidvillard",
    },
    {
      date: "| sept. 2022 - sept. 2024",
      title: "Desenvolvimiento de Aplicaciones Web",
      description: [
        "En este ciclo formativo he aprendido a desarrollar aplicaciones web, tanto en el lado del cliente como en el servidor, utilizando tecnologías como HTML, CSS, JavaScript, PHP, MySQL, Java, Docker, Vue, Tailwind, etc. En el proyecto de fin de curso amplié mis habilidades al trabajar con tecnologías como React, utilizando Vite como bundler, React Router para la navegación y Tailwind junto con otras dependencias esenciales. Por otro lado, he aprendido a utilizar herramientas de control de versiones como Git.",
        "También he desarrollado competencias en el uso de sistemas operativos, particularmente en Ubuntu. Esta habilidad no solo amplía mis conocimientos técnicos, sino que también demuestra mi versatilidad en entornos tecnológicos diversos.",
        "Además del desarrollo de aplicaciones, me he introducido en el montaje de hardware y gestión de sistemas informáticos, especialmente con Ubuntu.",
      ],
      link: "https://www.linkedin.com/in/davidvillard",
    },
  ],
};
---

<ol class="relative ml-[-39px]">
  {EXPERIENCE.items.map((experience) => (
    <li class="ms-4">
      <ExperienceItem
        title={experience.title}
        description={experience.description}
        link={experience.link}
        date={experience.date}
      />
    </li>
  ))}
</ol>
