
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center text-white">© 2024 <a href="https://www.github.com/davidvillard" target="_blank" class="hover:underline">davidvillard</a>. Algunos derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0">
        <li>
            <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mi</a>
        </li>
        <li>
            <a href="#top" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>

