<header class="fixed top-0 z-10 flex items-center lg:justify-center w-full mx-auto mt-2 px-4">
  <div class="flex items-center">
    <button id="menu-toggle" class="lg:hidden p-2 focus:outline-none rounded-full w-full">
      <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
  <nav id="menu" class="hidden lg:flex px-3 py-2 lg:py-0 lg:px-3 ml-5 md:ml-40 md:text-sm lg:ml-0 flex-col rounded-full lg:flex-row gap-x-10 text-[12px] lg:text-base opacity-100">
    <a href="#top" class="hover:text-purple-400/90 transition">Inicio</a>
    <a href="#experiencia" class="hover:text-purple-400/90 transition">Experiencia</a>
    <a href="#proyectos" class="hover:text-purple-400/90 transition">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-purple-400/90 transition">Sobre mí</a>
    <a href="#skills" class="hover:text-purple-400/90 transition">Skills</a>
  </nav>
</header>

<style>
  header nav a {
    @apply relative px-2 py-2;
  }

  nav, button {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-slate-950/50 ring-white/10;
    }
  }

  @scroll: {
    header {
      nav {
        @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-slate-950/50 ring-white/10;
      }
    }
  }
</style>

<script>
  document.getElementById('menu-toggle').addEventListener('click', function() {
    const menu = document.getElementById('menu');
    menu.classList.toggle('hidden');
  });
</script>
