---
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import PHP from "./icons/PHP.astro";
import ProjectCard from "./ProjectCard.astro";

const TAGS = {
  HTML: { name: "HTML", class: "bg-orange-700/30 text-white", icon: HTML },
  CSS: { name: "CSS", class: "bg-blue-700/30 text-white", icon: CSS },
  JAVASCRIPT: { name: "JavaScript", class: "bg-yellow-400/30 text-white", icon: JavaScript },
  REACT: { name: "React", class: "bg-blue-400/30 text-white", icon: React },
  TAILWIND: { name: "Tailwind", class: "bg-cyan-400/30 text-white", icon: Tailwind },
  PHP: { name: "PHP", class: "bg-indigo-500/30 text-white", icon: PHP },
};

const PROJECTS = [
  {
    title: "Interstellar Fan Page - Proyecto Web",
    description:
      "Fan Page dedicada a la película Interstellar. Proyecto de Diseño Web Responsive, con varias páginas y diseño adaptable.",
    link: "https://interstellarfanpage.netlify.app",
    github: "https://github.com/davidvillard/Interstellar",
    image: "/projects/svgl.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Gestión de horarios y módulos para profesores",
    description:
      "Plataforma para que los profesores creen y consulten sus horarios, con personalización por módulos y carga docente.",
    link: "https://github.com/sempereluismi/modular",
    github: "https://github.com/sempereluismi/modular",
    image: "/projects/modular.webp",
    tags: [TAGS.REACT, TAGS.PHP, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "StackHub – Recursos de Diseño y Desarrollo Web",
    description:
      "Repositorio de recursos y herramientas para diseñadores y desarrolladores web, incluyendo iconos, fuentes, paletas de colores y más.",
    link: "https://stackhub.netlify.app/",
    github: "https://github.com/davidvillard/StackHub",
    image: "/projects/StackHub.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  }
];
---

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-8 mt-8 justify-items-center w-full">
  {PROJECTS.map((p) => (
    <ProjectCard {...p} />
  ))}
</div>

