---
import React from "./icons/React.astro"
// import Python from "./icons/Python.astro" Esta Roto
import AstroIcon from "./icons/AstroIcon.astro"
import Python from "./icons/Python.astro"
import JavaScript from "./icons/JavaScript.astro"
import Django from "./icons/Django.astro"

---


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="flex justify-center p-3 rounded-md">
        <AstroIcon class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <Python class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <JavaScript class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <Django class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <React class="w-14 h-14"/>
    </div>
  </div>