---
import PHP from "./icons/PHP.astro"
import Docker from "./icons/Docker.astro";
import MySQL from "./icons/MySQL.astro";
import Java from "./icons/Java.astro";
---


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="flex justify-center p-3 shadow-md rounded-md">
        <PHP class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 shadow-md rounded-md">
        <Docker class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 shadow-md rounded-md">
        <MySQL class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 shadow-md rounded-md">
        <Java class="w-14 h-14"/>
    </div>
  </div>