---
import SkillsCardItemsFrontend from './SkillsCardItemsFrontend.astro'
import SkillsCardItemsBackend from './SkillsCardItemsBackend.astro'
import SkillsCardItemsAprendiendo from './SkillsCardItemsAprendiendo.astro'
import SkillsCardItemsHerramientas from './SkillsCardItemsHerramientas.astro'
---


<div class="bg-blue-900/20 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center font-semibold">Frontend</h2>
    <SkillsCardItemsFrontend />
  </div>
  <div class="bg-blue-900/20 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center font-semibold">Backend</h2>
    <SkillsCardItemsBackend />
  </div>
  <div class="bg-blue-900/20 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center font-semibold">Aprendiendo</h2>
    <SkillsCardItemsAprendiendo />
  </div>
  <div class="bg-blue-900/20 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center font-semibold">Herramientas</h2>
    <SkillsCardItemsHerramientas />
  </div>