---
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import Bootstrap from "./icons/Bootstrap.astro"
import Tailwind from "./icons/Tailwind.astro"
import Vue from "./icons/Vue.astro"
import React from "./icons/React.astro"
---


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="flex justify-center p-3 rounded-md">
        <HTML class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <CSS class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <Tailwind class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <React class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <Bootstrap class="w-14 h-14"/>
    </div>
    <div class="flex justify-center p-3 rounded-md">
        <Vue class="w-14 h-14"/>
    </div>
  </div>