---
import VSCode from "./icons/VSCode.astro";
import Git from "./icons/Git.astro";
import Terminal from "./icons/Terminal.astro";
import NPM from "./icons/NPM.astro";
import Netlify from "./icons/Netlify.astro";
import MarkDown from "./icons/MarkDown.astro";
import Vite from "./icons/Vite.astro";

---


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4 mb-8">
    <div class="flex justify-center items-center p-3 rounded-md">
        <Git class="w-14 h-14"/>
    </div>
    <div class="flex justify-center items-center p-3 rounded-md">
        <VSCode class="w-14 h-14"/>
    </div>
    <div class="flex justify-center items-center p-3 rounded-md">
        <Terminal class="w-14 h-14"/>
    </div>
    <div class="flex justify-center items-center p-3 rounded-md">
        <NPM class="w-14 h-14"/>
    </div>
    <div class="flex justify-center items-center p-3 rounded-md">
        <Netlify class="w-14 h-14"/>
    </div>
    <div class="flex justify-center items-center p-3 rounded-md">
        <MarkDown class="w-14 h-14"/>
    </div>
    <div class="flex justify-center items-center p-3 rounded-md">
        <Vite class="w-14 h-14"/>
    </div>
  </div>
  