---
import SkillsCardItemsFrontend from './SkillsCardItemsFrontend.astro'
import SkillsCardItemsBackend from './SkillsCardItemsBackend.astro'
import SkillsCardItemsAprendiendo from './SkillsCardItemsAprendiendo.astro'
import SkillsCardItemsHerramientas from './SkillsCardItemsHerramientas.astro'
---


<div class="dark:bg-blue-900/20 bg-black/90 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-white text-center font-semibold mb-8">Frontend</h2>
    <SkillsCardItemsFrontend />
  </div>
  <div class="dark:bg-blue-900/20 bg-black/90 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center text-white font-semibold mb-8">Backend</h2>
    <SkillsCardItemsBackend />
  </div>
  <div class="dark:bg-blue-900/20 bg-black/90 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center text-white font-semibold mb-8">Aprendiendo</h2>
    <SkillsCardItemsAprendiendo />
  </div>
  <div class="dark:bg-blue-900/20 bg-black/90 p-4 shadow-md rounded-md">
    <h2 class="text-3xl text-center text-white font-semibold mb-8">Herramientas</h2>
    <SkillsCardItemsHerramientas />
  </div>